:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --white: #fff;
    --black: #000;
    --gray-50: #f9f9f9;
    --gray-100: #ececec;
    --gray-200: #e3e3e3;
    --gray-300: #cdcdcd;
    --gray-400: #b4b4b4;
    --gray-500: #9b9b9b;
    --gray-600: #676767;
    --gray-700: #424242;
    --gray-750: #2f2f2f;
    --gray-800: #212121;
    --gray-900: #171717;
    --gray-950: #0d0d0d;
    --red-500: #ef4444;
    --red-700: #b91c1c;
    --brand-purple: #ab68ff;
}


a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}


aside {
    background-color: var(--gray-950);
    width: 300px;
    padding: 1rem;


    .sidebar-btn {
        // Should be ghost
        background-color: transparent;
        width: 100%;
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 0.6em 1.2em;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        cursor: pointer;
        transition: border-color 0.25s;
        background-color: transparent;
        text-align: left;

        &:hover {
            background-color: #202020;
        }
    }
}
.webchat__icon-button {
    border-radius: 16px !important;
    background-color: var(--gray-750) !important;
    background: var(--gray-750) !important;

    &:hover {
        background-color: transparent !important;
        background: transparent !important;
        cursor: pointer !important;
    }
}

.webchat__icon-button__shade {
    border-radius: 16px !important;
    background-color: var(--gray-750) !important;

    &:hover {
        background-color: transparent !important;
        background: transparent !important;
        cursor: pointer !important;
    }

}

.webchat__upload-button {
    border-radius: 16px !important;
    background-color: var(--gray-750) !important;
    color: var(--white) !important;

    &:hover {
        background-color: var(--gray-750) !important;
    }
}

.webchat__bubble {
    background-color: var(--gray-800) !important;

    .webchat__text-content {
        color: var(--white) !important;
        background-color: var(--gray-750) !important;
        border: none !important;
        border-radius: 16px !important;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

.webchat__bubble__content {
    background-color: var(--gray-800) !important;
    border: none !important;
    border-radius: 16px !important;
}


.webchat__send-box {
    background-color: var(--gray-800) !important;
    padding: 2rem !important;

    .webchat__send-box__main {
        background-color: var(--gray-750) !important;
        border-radius: 16px !important;
        border: none !important;
        color: var(--white) !important;

        .webchat__send-box-text-box__input {
            background-color: var(--gray-750) !important;
            border: none !important;
            color: var(--white) !important;
        }
    }

}
