<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Bot</title>
    <link rel="stylesheet" href="/static/styles/custom.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <button class="new-chat-btn" id="newChatBtn">New Chat</button>
            <div class="chat-list" id="chatList">
                <!-- Dynamically added chat items will go here -->
            </div>
        </div>
        <div class="chat-window">
            <iframe src="https://europe.webchat.botframework.com/embed/sibilla-bot?s=-y4zYgzySyQ.mI95uwEU3mELuz4-DA7tSt7cE2Z0Y0TNZAn3X3IdCgU" frameborder="0" class="bot-iframe"></iframe>
        </div>
    </div>

    <script src="/static/scripts/teamsapp.js"></script>
</body>
</html>