:root {
    --white: #000;
    --black: #fff;
    --gray-50: #0d0d0d;
    --gray-100: #171717;
    --gray-200: #212121;
    --gray-300: #2f2f2f;
    --gray-400: #424242;
    --gray-500: #676767;
    --gray-600: #9b9b9b;
    --gray-700: #b4b4b4;
    --gray-750: #cdcdcd;
    --gray-800: #e3e3e3;
    --gray-850: #e5e5e5;
    --gray-900: #ececec;
    --gray-950: #f9f9f9;
    --red-500: #b91c1c;
    --red-700: #ef4444;
    --header-height: 80px;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--gray-50);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--gray-950);

    --webchat-bg: var(--gray-950);
    --webchat-bubble-text-color: var(--white);
}

html[data-theme='dark'] {
    --white: #fff;
    --black: #000;
    --gray-50: #f9f9f9;
    --gray-100: #ececec;
    --gray-200: #e3e3e3;
    --gray-300: #cdcdcd;
    --gray-400: #b4b4b4;
    --gray-500: #9b9b9b;
    --gray-600: #676767;
    --gray-700: #424242;
    --gray-750: #2f2f2f;
    --gray-800: #212121;
    --gray-900: #171717;
    --gray-950: #0d0d0d;
    --red-500: #ef4444;
    --red-700: #b91c1c;

    --webchat-bg: var(--gray-800);
    --webchat-bubble-text-color: var(--gray-50);

    background-color: var(--gray-800);
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100dvh;
    overflow: hidden;

    &.sidebar-open {
        &::after {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 999;

            @media (min-width: 768px) {
                display: none;
            }
        }
    }
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

button {
    color: var(--gray-50);
}

::-webkit-scrollbar {
    background-color: var(--gray-950);
    width: 12px;

    &-thumb {
        background-color: var(--gray-800);
        border: 1px solid var(--gray-750);
        border-radius: 18px;
        width: 4px;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }
}

.main-container {
    display: flex;
    height: 100dvh;
    width: 100vw;
    flex: 1;
    overflow: hidden;
}

.ac-pushButton {
    background-color: var(--gray-950) !important;
    border-radius: 8px;
    border: 1px solid transparent;
    color: var(--gray-50) !important;

    html[data-theme='dark'] & {
        background-color: var(--gray-750) !important;
    }

    &:focus,
    &:focus-visible {
        border-color: var(--gray-50) !important;
        outline: none !important;
    }
}

.ac-multichoiceInput {
    background-color: var(--gray-950) !important;
    border-radius: 8px;
    border: 1px solid transparent;
    color: var(--gray-50) !important;

    html[data-theme='dark'] & {
        background-color: var(--gray-750) !important;
    }

    &:focus,
    &:focus-visible {
        border-color: var(--gray-50) !important;
        outline: none !important;
    }

    &[aria-pressed='true'] {
        background-color: var(--gray-900) !important;
        outline: none !important;
    }
}

.ac-textInput {
    background-color: var(--gray-950) !important;
    border-radius: 8px;
    border: 1px solid transparent;
    color: var(--gray-50) !important;
    padding: 0.6em 1.2em;

    html[data-theme='dark'] & {
        background-color: var(--gray-750) !important;
    }

    &:focus,
    &:focus-visible {
        border-color: var(--gray-50) !important;
        outline: none;
    }
}
