.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0rem;
    height: var(--header-height);
    padding: 0 2rem;

    body.sidebar-open & {
        justify-content: flex-end;
    }

    h1 {
        font-size: 1rem;
        line-height: 1.1;
    }

    button {
        background-color: transparent;
        width: 100%;
        max-width: 170px;
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 0.6em 1.2em;
        font-size: 1rem;
        font-weight: 500;
        font-family: inherit;
        cursor: pointer;
        transition: border-color 0.25s;
        background-color: transparent;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover {
            background-color: var(--gray-900);
        }

        &.header-btn {
            width: auto;
            gap: 0.75rem;
            svg {
                width: 1.2rem;
                height: 1.2rem;
                margin-top: 0.3em;
            }
        }

        &.menu {
            width: 50px;
            height: 50px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            &.open {
                body.sidebar-open & {
                    display: none;
                }
            }

            &.close {
                display: none;

                body.sidebar-open & {
                    display: flex;
                }
            }

            svg {
                width: 1.45rem;
                height: 1.45rem;
            }
        }

        &.theme-toggle {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            width: 40px;
            height: 40px;

            svg {
                width: 1rem;
                height: 1rem;
            }
        }
    }
}
