.sidebar {
    width: 300px;
    padding: 1rem 2rem;
    height: 100dvh;
    position: relative;
    top: 0;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: start;
    position: absolute;
    left: -400px;
    background-color: var(--gray-800);

    html[data-theme='dark'] & {
        background-color: var(--gray-950);
    }

    body.sidebar-open & {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1000;

        @media (min-width: 768px) {
            position: relative;
        }
    }

    .main-buttons {
        display: flex;
        gap: .5rem;
        margin-bottom: 2rem;
        align-items: center;
        justify-content: space-between;
    }

    .sidebar-btn {
        background-color: transparent;
        width: 100%;
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 0.6em 1.2em;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        cursor: pointer;
        transition: border-color 0.25s;
        background-color: transparent;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover {
            background-color: var(--gray-900);
        }

        &.menu {
            width: 50px;
            height: 50px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
