.main-container {
    .webchat-container {
        height: 100dvh;
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex: 1;
        flex-direction: column;
        position: relative;
        margin: 0 auto;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -30%;
            width: 100%;
            height: 100%;
            background-image: url('/img/bg-gray.webp');
            background-size: contain; // Adjust the size of the background image
            background-repeat: no-repeat;
            background-position: center; // Center the background image
            z-index: -1; // Ensure the background is behind the content
            opacity: 1;
            transition: opacity 0.25s linear;

            body.show-splash & {
                opacity: 0;
            }
        }

        .chat {
            background-color: transparent;
        }

        .webchat-content {
            width: 100%;
            height: calc(100dvh - var(--header-height));
            display: flex;

            .webchat__icon-button {
                border-radius: 16px !important;

                html[data-theme='dark'] & {
                    background-color: var(--gray-750) !important;
                }

                &:hover {
                    background-color: transparent !important;
                    background: transparent !important;
                    cursor: pointer !important;
                }
            }

            .webchat__icon-button__shade {
                border-radius: 16px !important;

                html[data-theme='dark'] & {
                    background-color: var(--gray-750) !important;
                }

                &:hover {
                    background-color: transparent !important;
                    background: transparent !important;
                    cursor: pointer !important;
                }
            }

            .webchat__upload-button {
                border-radius: 16px !important;
                color: var(--white) !important;

                html[data-theme='dark'] {
                    background-color: var(--gray-750) !important;
                }

                &:hover {
                    html[data-theme='dark'] & {
                        background-color: var(--gray-750) !important;
                    }
                }
            }

            /* Messaggi Utente/Bot */
            article.webchat__basic-transcript__activity {
                .webchat__basic-transcript__activity-body {
                    .webchat__stacked-layout {
                        .webchat__stacked-layout__main {
                            margin: -0.5px;

                            .webchat__stacked-layout__avatar-gutter {
                                height: 20px;
                                width: 15px;
                                margin-top: 0.5rem;
                                margin-right: -5px;
                                background-image: url('/img/bg-blue.webp');
                                background-size: contain;
                                background-repeat: no-repeat;
                                border-radius: 16px;
                            }

                            .webchat__bubble {
                                background-color: transparent !important;

                                .webchat__bubble__content {
                                    border: none !important;
                                    border-radius: 16px !important;
                                    background-color: var(--gray-800) !important;
                                    box-shadow: 0 0 0.625rem #0000001a !important;
                                    margin: 0.5rem !important;

                                    .webchat__text-content {
                                        color: var(--white) !important;
                                        border: none !important;
                                        border-radius: 16px !important;
                                        padding-left: 1rem !important;
                                        padding-right: 1rem !important;

                                        html[data-theme='dark'] & {
                                            background-color: var(--gray-750) !important;
                                        }
                                    }
                                }
                            }
                        }

                        &.webchat__stacked-layout--from-user {
                            .webchat__stacked-layout__main {
                                .webchat__stacked-layout__avatar-gutter {
                                    /*
                                    background-image: url('/img/user-light.svg');
                                    margin-top: .75rem;
                                    margin-left: -5px;
                                    margin-right: 0;
                                    height: 15px;
                                    width: 15px;

                                    html[data-theme='dark'] & {
                                        background-image: url('/img/user-dark.svg');
                                    }
                                    */
                                    display: none;
                                }
                                .webchat__bubble {
                                    .webchat__bubble__content {
                                        box-shadow: none !important;

                                        .webchat__text-content {
                                            background-color: #e8ebfa !important;

                                            html[data-theme='dark'] & {
                                                background-color: #2c2f33 !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .webchat__stacked-layout__status {
                        margin: 0 0.5rem;
                    }
                }
            }

            /* Input testuale per invio messaggi */
            .webchat__send-box {
                padding: 1.5rem 0.5rem !important;
                background-color: transparent !important;
                position: relative;

                body.show-splash & {
                    z-index: 999999999;
                }

                body.message-sending & {
                    &::before {
                        content: '';
                        position: absolute;
                        top: -4px;
                        left: 0.75rem;
                        width: 15px;
                        height: 20px;
                        background-image: url('/img/bg-blue.webp');
                        background-size: contain;
                        background-repeat: no-repeat;
                        border-radius: 16px;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        top: -12px;
                        left: 1.70rem;
                        width: 35px;
                        height: 35px;
                        background-image: url('/img/dots-light.svg');
                        background-size: contain;
                        background-repeat: no-repeat;
                        border-radius: 16px;

                        html[data-theme='dark'] & {
                            background-image: url('/img/dots-dark.svg');
                        }
                    }
                }

                .webchat__send-box__main {
                    border-radius: 16px !important;
                    border: none !important;
                    color: var(--white) !important;
                    border: 1px solid var(--gray-800) !important;

                    html[data-theme='dark'] & {
                        background-color: var(--gray-750) !important;
                    }

                    .webchat__send-box-text-box__input {
                        border: none !important;
                        color: var(--white) !important;

                        html[data-theme='dark'] & {
                            background-color: var(--gray-750) !important;
                        }
                    }
                }
            }
        }
    }
}
